body{
    background-color: black;
    margin: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

p, .navSelected, .navUnselected {
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.navSelected {
  color: red
}

.nav-background {
  width: 100%;
  position: fixed;
  background-color: rgba(100, 0, 0, 0.9)
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 10px;
}

.page-content{
  padding-top: 50px;
}

.center p {
  text-align: center;
}

a {
  color: white;
}

.devul-animation {
    margin: auto;
    margin-bottom: 0;
    height: 240px;
    width: 240px;
    background: url("./images/devul-sprite-sheet.png");
    animation-name: sprite;
    animation-duration: 5s;
    animation-timing-function: steps(249); 
    /* Set steps to 250 for fun animation lmao */
    animation-iteration-count: infinite;
    
}

@keyframes sprite {
    from {background-position: 0px;}
    to {background-position: 59760px;}
}

